.userButton {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
    background-color: white;

}
.userButton:active {
  border: none;
  outline: none;
}

img {
    width: 700px;
    padding-top: 50px;
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}




